<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">

    <mat-grid-tile class="main-tile"
    [colspan]="cols/2"
    [style.background]="'#d8d8d8'"
    [rowspan]="logoRowSpan"
    >
     <div>
       <picture>
        <source media="(min-width:960px)" srcset="./assets/logo_grande.png">
        <source media="(min-width:465px)" srcset="./assets/Community-Locker-30.png">
        <img class="wifi-logo" src="./assets/Community-Locker-01-300x67-2.png" alt="Main-Logo">
           </picture>
     </div>
    </mat-grid-tile>
  
    <mat-grid-tile class="main-tile"
    [colspan]="cols/2"
    [style.background]="'white'"
    [rowspan]="formRowSpan"
    >
     <div class="wifi-screen">
       <h1>Let's Connect you to a network!</h1>
       <p>Please select a wifi network to proceed to the main page</p>
     

        <cdk-accordion class="example-accordion">
            <cdk-accordion-item
              *ngFor="let network of networks; let index = index;"
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                <span class="wifi-option">{{ network.SSID }}<img class="wifi-icon" [src]="setWifiImgSrc(network.SignalStrength)" alt="signal-strength"></span>
                <span class="example-accordion-item-description">
             
                  <div *ngIf="accordionItem.expanded; else elseBlock">
                    <mat-icon>close</mat-icon>
                  </div>
                  <ng-template #elseBlock><mat-icon>expand_more</mat-icon></ng-template>
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
              <app-wifi-password-input [network]="network" (outputValue)="showSpinner = $event"></app-wifi-password-input>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
          <div class="spinner-div">
            <div *ngIf="showSpinner"><mat-spinner></mat-spinner></div>
        </div>

     </div>
    </mat-grid-tile>
  </mat-grid-list>
