<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">

    <mat-grid-tile class="main-tile"
    [colspan]="cols/2"
    [rowspan]="logoRowSpan"
    [style.background]="'white'"
    >
     <img class="serial-logo" src="./assets/Logo-Megablok-54.png" alt="">
    </mat-grid-tile>
  
    <mat-grid-tile class="main-tile"
    [colspan]="cols/2"
    [rowspan]="formRowSpan"
    [style.background]="'#d8d8d8'"
    >
     <div class="serial-screen">
        <img class="get-started" 
        srcset="./assets/Community-Locker-30.png 960w, ./assets/logo.png 2000w"
        src="./assets/Community-Locker-30.png" 
        alt="">
       <h1>Let's Get Started!</h1>
       <p>Please enter your serial number below</p>
       <p>
        <form 
  class="login100-form" 
  autocomplete="off"
  [formGroup]="serialForm"
  (ngSubmit)="setSerial()">
  
        <mat-form-field appearance="outline">
          <mat-label>Enter your serial number</mat-label>
          <input matInput 
          placeholder="Enter your device's serial number"
          type="text"
          formControlName="serial"
          >
          <mat-error *ngIf="serialForm.value.serial.invalid">Serial Number must be at least 6 characters long</mat-error>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Must be at least 8 characters long</mat-hint>
        </mat-form-field>
      
       <button class="btn1 " mat-fab extended color="primary"
       [disabled]="serialForm.invalid">SUBMIT</button>
      </form>
      <div class="spinner-div">
          <div *ngIf="showSpinner"><mat-spinner></mat-spinner></div>
      </div>
     </div>
    </mat-grid-tile>
  </mat-grid-list>
