<h2>Welcome! Mega-Block</h2>


<mat-grid-list [cols]="6" rowHeight="100vh">
  <!-- <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
    <button mat-raised-button color="primary">Primary</button>
  </mat-grid-tile> -->

  <mat-grid-tile class="main-tile"
  [colspan]="3"
  [style.background]="'#DDBDF1'"
  >
   <img src="./assets/Logo Megablok-54.png" alt="">
  </mat-grid-tile>

  <mat-grid-tile class="main-tile"
  [colspan]="3"
  [style.background]="'lightblue'"
  >
   <div class="serial-screen">
     <h1>Let's Get Started!</h1>
     <p>Please enter your serial number below</p>
     <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
     <button mat-raised-button color="warn">Submit Serial Number</button>
   </div>
  </mat-grid-tile>
</mat-grid-list>