.welcome-div {
    height:100vh;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-div > p {
    width:50%;
    text-align:center;
}

.btn1 {
    margin-top: 1rem;
    border-radius: 5px;
    color:white;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    width: 33%;
}
