.main-container {
    background-image: url("/assets/illustration.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position:bottom;
}

.welcome-div {
    height:100vh;
    flex-direction:column;
    display: flex;
    align-items: center;
    
   
}
.content-container {
    background: rgba(255, 253, 252, 0.9);
    padding: 2rem;
    width: 50%;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:2rem;

}

.content-container > p {
    width:50%;
    text-align:center;
}

.btn1 {
    margin-top: 1rem;
    border-radius: 5px;
    color:white;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    width: 33%;
}

.welcome-img {
    max-width: 75%;
}
