<form 
class="login100-form" 
autocomplete="off"
[formGroup]="wifiForm"
(ngSubmit)="setWifi()">
<mat-form-field appearance="outline">
    <mat-label>Enter password </mat-label>
    <input matInput 
    [placeholder]="'Enter password for ' + network.SSID"
    type="password"
    formControlName="password"
    >
    <mat-error *ngIf="wifiForm.hasError('password') && !wifiForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
<mat-hint>Passwords are at least 8 characters long</mat-hint>
   
  </mat-form-field>
  <button mat-raised-button color="primary"
  [disabled]="wifiForm.invalid"
  >CONNECT</button>
  </form>
